
node_modules
Coding Tests/.vs/AbstractFactoryDemo/v15/.suo
Coding Tests/70 483/.vs/70-843/v15/.suo
Coding Tests/70 483/.vs/70-843/v15/.suo
Coding Tests/70 483/.vs/70-843/v15/Server/sqlite3/storage.ide
Coding Tests/70 483/.vs/70-843/v15/Server/sqlite3/storage.ide-shm
Coding Tests/70 483/70-843/bin/Debug/netcoreapp2.0/70-843.deps.json
Coding Tests/70 483/70-843/bin/Debug/netcoreapp2.0/70-843.dll
Coding Tests/70 483/70-843/bin/Debug/netcoreapp2.0/70-843.pdb
Coding Tests/70 483/70-843/bin/Debug/netcoreapp2.0/70-843.runtimeconfig.dev.json
Coding Tests/70 483/70-843/bin/Debug/netcoreapp2.0/70-843.runtimeconfig.json
Coding Tests/70 483/.vs/70-843/v15/Server/sqlite3/storage.ide-wal
Coding Tests/70 483/70-843/obj/Debug/netcoreapp2.0/70-843.pdb
Coding Tests/70 483/.vs/70-843/v15/Server/sqlite3/storage.ide
Coding Tests/70 483/70-843/bin/Debug/netcoreapp2.0/70-843.pdb
Coding Tests/70 483/70-843/bin/Debug/netcoreapp2.0/70-843.pdb
Coding Tests/70 483/70-843/obj/Debug/netcoreapp2.0/70-843.pdb
*.dll
