<navi-bar><</navi-bar>
<div>
    <h1>Lesson 3 FOR loops and the Clock Project</h1>
</div>
<div>
    <h2>What are FOR loops?</h2>
</div>
<div>
    <h3>We have seen FOR blocks before</h3>
</div>
<div>
    <img>
</div>
<div>
    <img>
</div>
<div>
    <p>
        We used a FOR loop in the last project, we did in the lesson walkaround1. 
        The cool kid moved along the path.Without the loop we would have to work out how far
        wee wanted the cool kid to go and we could only run that bit of code once.  
    </p>
    <p>
        Remember the variables from the last lesson we are using them here. The variable starts
        with the number 1 stored in it. Every time the loop goes around we add 1 to it so the kid moves
        1 step to the right on each FOR loop.  
    </p>
</div>
<div>
    <h3>1st Demo</h3>
</div>
<div>
    <img src="/src/app/shared/images/standard/ProjectDownload.gif">
</div>
