<top-bar>s</top-bar>
<navi-bar><</navi-bar>

<div>
    <div class="container" >
      <div class="row">
        <div class="col">
        </div>
        <div class="col-10">

<div>
    <h1>Lesson 3 FOR loops and the Clock Project</h1>
</div>
<div>
    <h2>What are FOR loops?</h2>
</div>
<div>
    <h3>We have seen FOR blocks before</h3>
</div>
<div>
    <img>
</div>
<div>
    <img>
</div>
<div>
    <p>
        We used a FOR loop in the last project, we did in the lesson walkaround1. 
        The cool kid moved along the path.Without the loop we would have to work out how far
        wee wanted the cool kid to go and we could only run that bit of code once.  
    </p>
    <p>
        Remember the variables from the last lesson we are using them here. The variable starts
        with the number 1 stored in it. Every time the loop goes around we add 1 to it so the kid moves
        1 step to the right on each FOR loop.  
    </p>
</div>
<div>
    <h3>1st Demo</h3>
</div>
<div>
    <img src="/src/app/shared/images/standard/ProjectDownload.gif">
</div>
<div>
    <h3>Working with strings.</h3>
</div>
<div>
    <p>
        We have looked at how to work with strings before in lesson 3. Do you remember this code? 
        You may have understood this and if that is the case well done. We will just explain a 
        bit more about it now, as we are talking about operators now. All 3 types of the operators 
        in the bottom picture are used here. In the REPEAT UNTIL block we test on the more than '>' 
        operator. As we never know at the time of writing the code, how long a word the user will 
        enter. We measure that words length, in the variable 'WhatwasSaid'. We could have just 
        measured 'answer' but we felt as you where only just being introduced to variables it 
        was a bit much to take in at that stage, but as you understand more now you can take 
        that step out. We now use the join operator, to join the letter at the position stored 
        in the 'thisnumber' variable. That is increased by 1 on every loop, remember the repeat 
        will finish when this number is more than 'WhatwasSaid'. We are going to look at this code 
        again in our debugging lesson, because there is a logic bug (a mistake) you may have 
        spotted it.
    </p>
</div>
<div>
    <img src="/src/app/shared/images/lesson6/Strings.gif">
</div>

</div>
    <div class="col" >
    </div >
</div >
   </div>
<div>
    <footer-bar></footer-bar>
</div>   
</div >