<top-bar></top-bar>
<navi-bar></navi-bar>
<div>
   <div class="container" >
      <div class="row">
         <div class="col">
         </div>
         <div class="col-10">
            <div>
              <h1>About us </h1>
            </div>
            <div>
               <h2>A little bit about us.</h2>
            </div>
            <div>
              <h3>What is Zero2Coding?</h3>
            </div>
            <div>
               <p>
                 This site is designed to help teach coding computers from a starting point of no 
                 knowledge, to a good standard in modern programming languages. At this time, the 
                 site is only at an early stage, with 6 lessons available, but this will improve 
                 quickly. Please fill out our membership form, we will be expanding the content 
                 for our members soon. After we have lessons 7 to 12 ready,  we will be offering that 
                 help at a competitive and affordable price
               </p>
            </div>
            <div>
              <p>
                 Jon is a Senior Software Developer at a national company. He has worked in the industry 
                 for more years that he cares to remember. He has worked with everything from COBOL to 
                 Java , TSQL and  the .net family of programs. He volunteered in a school to teach 
                 children coding and is developing this software at the moment, but will go back into 
                 school to help at the start of September. When this site is ready, it will be easy for 
                 other software professionals to use as a platform to volunteer an hour a week in schools, 
                 without having to dedicate hours of background work. It was this that gave him the idea 
                 to set up an affordable teaching site.        
              </p>
            </div>
            <div>
               <p>
                  We intend that the site will put back in to the community. While funds will be needed, 
                  we can say no-one who is interested in this project is looking for big profits. We are 
                  here to help.
               </p> 
            </div>
            <div>
               <p>
                 We have been asked in the last week to give lessons to teachers who need to get up to speed 
                 with Scratch. We are open to the idea of setting up some sort of training face to face.
                 Contact Jon if you think that may help you. We will see what we can do.                           
            </div>
            <div>
                <h2>Please feel free to contact Jon.</h2>
            </div>
            <div>
                <h3>Email Jon </h3>
            </div>
            <div>    
               <a href="mailto:jon.bulmer@zero2coding.co.uk">jon.bulmer@zero2coding.co.uk</a><br />
            </div>
         </div>
         <div class="col">
         </div>
       </div>
   </div>
</div>
