<navi-bar></navi-bar>
<logo-bar></logo-bar> 
<div class="row">
  <div class="small-1 large-2 columns"></div>
  <div class="small-10 large-8 columns"><h2></h2></div>
  <div class="small-1 large-2 columns"></div>
</div>
<div class="row">
  <div class="large-1 columns"></div>
  <div class="large-10 small-10 columns">
     <p class="first-paragraph">
                
      <span class="firstLetter">A</span>
      </p>
      <p> 
        
      </p>
  </div>
  <div class="large-1 columns"></div>  
 </div>   
<div class="row">
  <div class="small-1 large-2 columns"></div>
  <div class="small-10 large-8 columns"><h2></h2></div>
  <div class="small-1 large-2 columns"></div>
</div>
<div class="row">
  <div class="large-1 columns"></div>
  <div class="large-10 small-10 columns">
     <p>
     
      </p>
  </div>
  <div class="large-1 columns"></div>
  </div>     
<div class="row">
  <div class="small-1 large-2 columns"></div>
  <div class="small-10 large-8 columns"><h2></h2></div>
  <div class="small-1 large-2 columns"></div>
</div>
<div class="row">
  <div class="large-1 columns"></div>
  <div class="large-10 small-10 columns">
     <p>
      
      </p>
      <p>  
        </p>
       <p>
         
      </p>
  </div>
  <div class="large-1 columns"></div>
  </div>