<div class="top-bar">
    <div class="top-bar-title">Zero 2 Coding</div>
    <div id="nav-toggle"><a href="#">MENU <span class="fa fa-navicon "></span></a></div>
     <div>
      <ul class="menu">
       <li class="nav-men menufloat menufloathide"><a href="#"></a></li> 
       <li class="nav-menu menufloat menufloathide"><a href="#">Home</a></li>
       <li class="nav-menu menufloat menufloathide"><a href="lesson1">Lesson 1</a></li>
       <li class="nav-menu menufloat menufloathide"><a href="lesson2">Lesson 2</a></li>
       <li class="nav-menu menufloat menufloathide"><a href="lesson3">Lesson 3</a></li>
       <li class="nav-menu menufloat menufloathide"><a href="lesson4">Lesson 4</a></li>
       <li class="nav-menu menufloat menufloathide"><a href="lesson5">Lesson 5</a></li>
       <li class="nav-menu menufloat menufloathide"><a href="lesson6">Lesson 6</a></li>
       <li class="nav-menu menufloat menufloathide"><a href="about">About</a></li>              
      </ul>
     </div>
   </div> 