<navi-bar></navi-bar>
<div>
 <h1 >Get Scratch. Look around. The Sequence Project</h1>
</div>
<div>
  <h2>Go and get Scratch. Its free!</h2>    
</div>
<div>
     <p>
     So this is the start of the journey to becoming a coder. First thing we need is our coding environment and what is better to start with than Scratch.
     You have 2 options the 1st is the desktop version. The 2nd option is the online version.<br />
    </p>
</div>    
<div>
  <h2>Option 1 Scratch 1.4 Desktop</h2>
</div>     
<div>
  <p>
    Please make sure you get the right download. You will have a <span id="OS">xx</span> operating system. So you want 
    <span id="scratchdownload">xx</span> for this machine, you can get this here.
   </p>
</div>
<div>
    <p>
        Please make sure you get the right download. You will have a <span id="OS">xx</span> operating system. So you want 
        <span id="scratchdownload">xx</span> for this machine, you can get this here.
       </p>
</div>
