<top-bar></top-bar>
<navi-bar></navi-bar>
<div>
  <div class="container" >
    <div class="row">
      <div class="col">
      </div>
      <div class="col-10">
         <div>
            <h1 >Get Scratch. Look around. The Sequence Project</h1>
         </div>
         <div>
            <h2>Go and get Scratch. Its free!</h2>    
         </div>
         <div>
           <p>
             So this is the start of the journey to becoming a coder. First thing we need is our coding environment and what is better to start with than Scratch.
             You have 2 options the 1st is the desktop version. The 2nd option is the online version.<br />
           </p>
         </div>    
         <div>
           <h2>Option 1 Scratch 1.4 Desktop</h2>
         </div>     
         <div>
           <p>
            Please make sure you get the right download. You will have a <span id="OS">xx</span> operating system. So you want 
            <span id="scratchdownload">xx</span> for this machine, you can get this here.
           </p>
         </div>
         <div>
            <div>
              <a href="http://scratch.mit.edu/scratch_1.4/"><img class="imgSmallScreen" src="/src/app/shared/images/standard/ScratchDownload.gif"></a>
            </div>
            <div>
               <h2>Option 2 Online Scratch</h2>
            </div>
            <div>
              <img src="/src/app/shared/images/lesson1/Joinlink.gif">
            </div>
            <div>
             <p>
              Click on the picture above to go to the Scratch website. When you see the menu bar on the top of the page, 
              you then need to click on 'join'. You will go through the 'create an account' process. Also, you will need to get an 
              account on the Scratch web site so you can store your projects. You will see the thee screens below.
             </p>
           </div>
           <div>
            <p>
              After you have got your account you will see the 'create' button on the menu bar. This is where you can code online, 
              and you can get an offline version too. We will not cover this right now, but if you want us to, we will put a guide together. 
            </p>
   </div>
   <div>
     <p>
      You will find lots of cool stuff on this site, so have a good look around! If you have seen enough here you can just crack 
      on with our friends at MIT Scratch. So now, please enjoy,
      </p>
   </div>
   <div>
     <p>
        We hope we helped. Please keep looking at our site. ッ
     </p>
   </div>
   <div>
     <img src="/src/app/shared/images/lesson1/ScatchAccount.gif">
   </div>
   <div>
     <h2>The desktop version</h2>
   </div>
   <div>
     <img scr="/scr/app/shared/images/standard/costume.gif">
   </div>
   <div>
     <p>
      The section on the left is full of 'command' blocks, which you will need to join together. This will make your programs under the 
      'script' tag. You just drag a block with your mouse. Please see the picture below.
     </p>
   </div>
   <div>
     <img src="/src/app/shared/images/lesson1/JoinBlocks.gif">
   </div>
   <div>
     <p>
      You will see a section in the middle. The 'script' tag is selected on the picture above the scratch programming environment. 
      This is where the code blocks will go. We can see the drawing of the cat in the 'costume' tag. The costumes are numbered 1 and 2, 
      this is important, but we will cover that later. Click on 'edit' and play about with it. You can't do any harm and its fun!
     </p>
   </div>
   <div>
     <h2>Working with the stage</h2>
   </div>
   <div>
     <p>
      The next section is the 'stage'. As the name would suggest, it is where all the action in you program happens. We start with the 
      stage and the sprite. We call these 'objects', and you will see us create all sorts of different objects as we develop our programs, 
      learning how to code as we progress.
     </p>
   </div>
   <div>
    <img src="/src/app/shared/images/lesson1/ScratchPic.gif">
   </div>
   <div>
     <p>
      Take a look at the three icons. When you click the first icon the stage is very small, 
      but when you click the second icon, the stage is larger, while the third icon takes over 
      the whole screen. The icon on the black background will return you to the Scratch environment.
     </p>
   </div>
   <div>
     <img src="/src/app/shared/images/lesson1/greenflag.gif">
   </div>
   <div>
     <h2>
       On Line Version
     </h2>
   </div>
   <div>
     <img src="/src/app/shared/images/lesson1/OnlineStage.gif">
   </div>
   <div>
     <p>
      The online version is almost the same as the desktop version, there are only some slight differences. 
      All the examples we will give you will be in the desktop version. A rule we follow is:-
     </p>
   </div>
   <div>
     <p>
        "You can load a project in the desktop version on to the online version, but not the other way around."
     </p>
   </div>
   <div>
     <h2>Getting the projects working</h2>
   </div>
   <div>
    <img src="/src/app//shared/images/lesson1/ProjectDownload.gif">
   </div>
   <div>
     <p>
      If you are working with the online version, click on the Scratch Download button - you will see this button all over this 
      site - then click on the 'Upload from your Computer' menu from 'file'.
     </p>
   </div>
   <div>
     <h2>The 1st program Sequence.</h2>
   </div>
   <div>
     <img src="/src/app/shared/images/lesson1/sequence.jpg">
   </div>
   <div>
     <h2>Download the Sequence Project here.</h2>
   </div>
   <div>
     <p>
      This is the first time you have seen our download button. 
      Click on this to download our scratch project when you see it.
     </p>
   </div>
   <div>
     <img src="/src/app/shared/images/lesson1/ProjectDownload.gif">
   </div>
   <div>
     <p>
       If you are working with the online version, click on the Scratch Download button  - you will see this 
       button all over this site. - Then click on the 'Upload from your Computer' menu from 'File'.
     </p>
   </div>
   <div>
       <h2>The 1st Project Sequence</h2>
   </div>
   <div>
     <img src="/src/app/shared/images/lesson1/sequence.jpg"
   </div>
   <div>
     <h3>Lesson 1 to 6</h3>
   </div>
   <div>
     <p>Lesson 1 to 6 are free we start with Scratch and get up to a basic level. we offer this free to every one. 
       We have extra help and all we ask in return is for you to register with us.</p>
   </div>
   <div>
     <img src="/src/app/shared/images/lesson1/sequence.jpg">
   </div>
   <div>
     <h3>Download the Sequence Project here.</h3>
   </div>
   <div>
     <p>
      This is the first time you have seen our download button. Click on this to 
      download our scratch project when you see it.
     </p>
   </div>
   <div>
     <img src="/src/app/shared/images/standard/ProjectDownload.gif">
   </div>
   <div>
     <p>
      This is the first lesson. We have downloaded Scratch and started to find our way about.
     </p>
   </div>
   <div>
     <p>
      Let's take it easy for now. So take a look at the sequences, download the sequence 
      project and have a look at it by running it.
     </p>
   </div>
   <div>
     <h3>Click the GREEN FLAG.</h3>
   </div>
   <div>
     <p>
      What we have done is to move the cat around the screen and track its movement. Can you 
      look at the numbers in the blue blocks? They tell us where the cat is on the screen. 
      This is talking to the computer in code! We do more than just talk we tell it what to do. 
      As you learn more, you will be able to tell it to do a lot of things. We think it is better 
      to play with this, in order to work out what the numbers means.
    </p>
   </div>
   <div>
      <div>
        <h3>
          If you think you need more explaination click here.If you think you need more 
          explaination click here.
        </h3>
      </div>
      <div>
        <img src="/src/app/shared/images/standard/extrahelp.gif">
      </div>
      <div>
        <h3>
            Hi I am Alan and I am Ada
        </h3>
      </div>
    <div>
  
     </div>
   </div>
   <div>
     <h2>Sequences</h2>
   </div>
   <div>
      Sequences are blocks of code followed by the next block, until we run out of blocks. 
      In the sequence demonstration we have the cat moving around, so click on the green 
      flag and see what happens. Get used to it by changing the block around, or even put 
      new ones on to see what happens. The numbers can be changed, Don't forget, the more 
      you play with it, the more you will understand. The program draws part of the union 
      jack shape. Can you finish the shape by adding more blocks?
   </div>
   <div>
     <h3>Well done</h3>
   </div>
   <div>
     <p>
        OK that was a good start. We hope you enjoyed the introduction.
     </p>
   </div>
</div>

</div>

<div class="col">
</div>
</div>
</div>
<footer-bar></footer-bar>
</div>