<navi-bar></navi-bar>
<div>
    <h1>Lessson 2 Variables</h1>
</div>
<div>
    <h2>Start the walk around project</h2>
</div>
<div>
    <h3>What are variables</h3>
</div>
<div>
    <p>
        A variable is a place in a computers memory where we can store information. This is only
        as long as the program is running. You should try and think of different names for your
        variables that give you a good idea of what they are for. 
    </p>
    <p>
        If you want to keep a count of goals scored call your variable 'GoalsScored'.
    </p>
    <div>
        <img>
    </div>
    <h3>1st Demo</h3>
    <div>
        <div>
            <img src="/src/app/shared/images/lesson2/firstdemo.gif">
        </div>
        <p>
            We need variables to hold thing in a progam so we can do things. Lets think of the 
            sentence.
        </p>
        <p>
            The quick brown fox jumps over the lazy dog.
        </p>
    </div>
    <div>
        <h3>I need more help</h3>
    </div>
    <div>
        <div>
            <img src="/src/app/shared/images/standard/extrahelp.gif">
        </div>

    </div>
    <div>
        <h3>2nd Demo</h3>
    </div>
    <div>
        <img src="/src/app/shared/images/lesson2/seconddemo.gif">
    </div>
    <div>
        <p>
            There are 2 very basic ways to store information in our variables letters and numbers. 
            We have a word for information we store in a variable and the word is 'Data'. 
            Data stored as letters has a name 'String'. Like a piece of string that you can join 
            another piece of string to it by tying a knot. The second data type we are going to 
            look at is numbers. The name we give it is numeric. There are other data types and we 
            will look at them later.
        </p>
    </div>
    <div>
        <h2>The Walk Around 1 Project</h2>
    </div>
    <div>
        <img>
    </div>
    <div>
        <h2>Download the Walkaroud 1 Project</h2>
    </div>
    <div>
        <p>
           This section is for our members, you can get details of how to become a member on our ready 
           to go page. The members site is here.
        </p>
    </div>
    <div>
        <img src="/src/app/shared/images/lesson1/ProjectDownload.gif">
    </div>
    <div>
        <p>
                Can you make the cool kid walk to the end of the gray path and turn to point up on the 
                path. The code blocks you need are in the sprite script. The variable 'SpeedY' has 
                not been created and will be used later. Can you do that? Then put the code blocks 
                together in a sequence. A lot of the code is new to you so just join it together in a 
                sequence.
        </p>
    </div>
    <div>
        <div>
            <img src="/src/app/shared/images/standard/extrahelp.gif">
        </div>
    </div>
    <div>
        <h3>Download the Variable Demo</h3>
        <img src="/src/app/shared/images/standard/ProjectDownload.gif">
    </div>
    <div>
        <h2>The Walk Around 1 Project</h2>
    </div>
    <div>
        <img src="/src/app/shared/images/lesson2/WalkAround1.jpg">
    </div>
    <div>
        <h3>Download the Walkaroud 1 Project</h3>
        <img src="/src/app/shared/images/standard/ProjectDownload.gif">
    </div>
    <div>
        Can you make the cool kid walk to the end of the gray path and turn to point up on the path. 
        The code blocks you need are in the sprite script. The variable 'SpeedY' has not been created 
        and will be used later. Can you do that? Then put the code blocks together in a sequence. 
        A lot of the code is new to you so just join it together in a sequence.
    </div>
    <div>
        <div>
            <img src="/src/app/shared/images/standard/extrahelp.gif">
        </div>
    </div>    
</div>