<navi-bar></navi-bar>
<div>
    <h1>Lessson 2 Variables</h1>
</div>
<div>
    <h2>Start the walk around project</h2>
</div>
<div>
    <p>
        A variable is a place in a computers memory where we can store information. This is only
        as long as the program is running. You should try and think of different names for your
        variables that give you a good idea of what they are for. 
    </p>
    <p>
        If you want to keep a count of goals scored call your variable 'GoalsScored'.
    </p>
    <div>
        <img>
    </div>
    <div>
        <p>
            We need variables to hold thing in a progam so we can do things. Lets think of the 
            sentence.
        </p>
        <p>
            The quick brown fox jumps over the lazy dog.
        </p>
    </div>
</div>