<top-bar></top-bar>
<navi-bar></navi-bar>

<div>
    <div class="container" >
      <div class="row">
        <div class="col">
        </div>
        <div class="col-10">
        <div>
          <h1>Lessson 2 Variables</h1>
        </div>
        <div>
          <h2>Start the walk around project</h2>
        </div>
        <div>
         <h3>What are variables</h3>
        </div>
        <div>
         <p>
           A variable is a place in a computers memory where we can store information. This is only
           as long as the program is running. You should try and think of different names for your
           variables that give you a good idea of what they are for. 
         </p>
         <p>
           If you want to keep a count of goals scored call your variable 'GoalsScored'.
         </p>
        <div>
          <img>
        </div>
          <h3>1st Demo</h3>
         <div>
         <div>
            <img src="/src/app/shared/images/lesson2/firstdemo.gif">
        </div>
         <p>
            We need variables to hold thing in a progam so we can do things. Lets think of the 
            sentence.
         </p>
         <p>
            The quick brown fox jumps over the lazy dog.
         </p>
       </div>
       <div>
          <h3>I need more help</h3>
       </div>
       <div>
        <div>
            <img src="/src/app/shared/images/standard/extrahelp.gif">
        </div>

       </div>

       <div>
        <div>
          <h3>Look At the what was said variable</h3>
        </div>
        <div>
          <img src="/src/app/shared/images/lesson2/variable1.gif">
        </div>
        <div>
          <p>
            OK take a look at the picture above. If you have places to put things they are like variables. 
            So lets say we had a card with 'The quick brown fox' written on it. If we put that in our 
            holder it would be there ready for us to use it. By getting another card with the 
            words 'Jumped over' written on it, if we then take out the 'The quick brown fox' 
            and throw it away and replace it with 'jumped over' the variable has forgotten what was 
            there before and has the new word to remember. We call sets for letters strings.
          </p>
          <p>
            That is one way to explain a string and it is not the only way to explain it. 
            You will realise over this course that understanding what is going on can take a 
            while, if it takes time don't be disheartened this is normal. So look a what is 
            going on again. Look at the picture above, when the text 'The quick brown fox' is 
            entered into the variable, we see the letters go in the numbered boxes. 'T' = 1 
            'h' = 2 'e'= 3 ect. This is stored in the computers memory ready to be used later. 
            When we want to put 'jumped over the lazy dog' in the exact place the letters are 
            replaced. So we know where the letters are, we call all these numbered boxes a 
            name in the case of this example 'WhatwasSaid'. We can have as many of these boxes 
            as we want in out programs and call them variables.

          </p>
        </div>
      </div>    

       <div>
        <h3>2nd Demo</h3>
       </div>
       <div>
          <img src="/src/app/shared/images/lesson2/seconddemo.gif">
       </div>
       <div>
         <p>
            There are 2 very basic ways to store information in our variables letters and numbers. 
            We have a word for information we store in a variable and the word is 'Data'. 
            Data stored as letters has a name 'String'. Like a piece of string that you can join 
            another piece of string to it by tying a knot. The second data type we are going to 
            look at is numbers. The name we give it is numeric. There are other data types and we 
            will look at them later.
         </p>
       </div>
       <div>
         <img src="/src/app/shared/images/lesson2/thirddemo.gif">
       </div>
       <div>
         <div>
           <img src="/src/app/shared/images/standard/extrahelp.gif">
         </div>

       </div>

       <div>
         <p>
           This section is for our members, you can get details of how to become a member on our ready 
           to go page. The members site is here.
         </p>
       </div>
       <div>
         <a  id="walkaround1" class="ProjectDownload">
          <img src="/src/app/shared/images/standard/ProjectDownload.gif">
         </a>  
       </div>
       <div>
         <p>
                Can you make the cool kid walk to the end of the gray path and turn to point up on the 
                path. The code blocks you need are in the sprite script. The variable 'SpeedY' has 
                not been created and will be used later. Can you do that? Then put the code blocks 
                together in a sequence. A lot of the code is new to you so just join it together in a 
                sequence.
         </p>
       </div>
       <div>
         <div>
            <img src="/src/app/shared/images/standard/extrahelp.gif">
         </div>
       </div>
       <div id="variable" class="ProjectDownload">
          <h3>Download the Variable Demo</h3>
          <img src="/src/app/shared/images/standard/ProjectDownload.gif">
        </div>
       <div>
          <h2>The Walk Around 1 Project</h2>
       </div>
       <div >
         <a id="walkaround1" class="ProjectDownload">
          <img src="/src/app/shared/images/lesson2/WalkAround1.jpg">
          </a>
       </div>
       <div>
         <h3>Download the Walkaroud 1 Project</h3>
         <img src="/src/app/shared/images/standard/ProjectDownload.gif">
       </div>
      <div>
        <p>
          Can you make the cool kid walk to the end of the gray path and turn to point up on the path. 
          The code blocks you need are in the sprite script. The variable 'SpeedY' has not been created 
          and will be used later. Can you do that? Then put the code blocks together in a sequence. 
          A lot of the code is new to you so just join it together in a sequence.
      </div>
<div>
  <div>
    <img src="/src/app/shared/images/standard/extrahelp.gif">
  </div>
</div>
</div>

    <div class="col">
    </div>
   </div>  
  </div>
  <div>
    <footer-bar></footer-bar>
  </div>
</div>