@using TrainDemo.Domain

@model IEnumerable<LiveTrainsViewModel>
@{
    ViewBag.Title = "Home Page";
}

<h2> List of Live Trains </h2>

@*A nice simple form for the output *@
<table>
    <tr>
        <th>
            Station
        </th>
        <th>
            Route
        </th>
        <th>
            Arrival Time
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Station)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>
        </tr>
    }
</table>
