<Title="Lesson 1 Sequences with code examples" >

<html>
        <div class="pagebanner">
            <h1 id="pagebannertitle" runat="server">Lesson 1 Sequences</h1>
        </div>
     <div class="section ">
<div class="clear">
     <img class='ReadIt' id='esson1a' src="Images/Standard/AlanRead.gif" class="clear" >
     <div id="lesson1a" class="jp-jplayer"></div>  
     <div id="jp_container_lesson1a" class="jp-audio clear">
      <div class="jp-type-single">
       <div class="jp-gui jp-interface">
        <ul class="jp-controls">
         <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
         <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
         <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
         <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
        </ul>
        <div class="jp-progress">
         <div class="jp-seek-bar">
          <div class="jp-play-bar"></div>
          </div>
        </div>
         <div class="jp-volume-bar">
          <div class="jp-volume-bar-value"></div>
         </div>
       </div>
        <div class="jp-no-solution">
         <span>Update Required</span>
            To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
        </div>
</div>
      </div>
     </div>
    

 
     <h1 >Get Scratch. Look around. The Sequence Project</h1>
      <p>
       <h2>Go and get Scratch. Its free!</h2>    
 
           <p>
           So this is the start of the journey to becoming a coder. First thing we need is our coding environment and what is better to start with than Scratch.
           You have 2 options the 1st is the desktop version. The 2nd option is the online version.<br />
          </p>
           
            
           <h2>Option 1 Scratch 1.4 Desktop</h2>
          <p>
           Please make sure you get the right download. You will have a <span id="OS">xx</span> operating system. So you want <span id="scratchdownload">xx</span> for this machine, you can get this here.
          </p>
          <div>
           <a href="http://scratch.mit.edu/scratch_1.4/"><img class="imgSmallScreen" src="Images/Standard/ScratchDownload.gif"></a>
          </div>
          
<div class="clear">
     <img class='ReadIt' id='esson1b' src='Images/Standard/AlanRead.gif' >
     <div id="lesson1b" class="jp-jplayer"></div>  
     <div id="jp_container_lesson1b" class="jp-audio clear">
      <div class="jp-type-single">
       <div class="jp-gui jp-interface">
        <ul class="jp-controls">
         <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
         <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
         <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
         <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
        </ul>
        <div class="jp-progress">
         <div class="jp-seek-bar">
          <div class="jp-play-bar"></div>
          </div>
        </div>
         <div class="jp-volume-bar">
          <div class="jp-volume-bar-value"></div>
         </div>
       </div>
        <div class="jp-no-solution">
         <span>Update Required</span>
            To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
        </div>
      </div>
     </div>
</div>
          
          
          <h2>Option 2 Online Scratch</h2>
          <br />
          <div class="largeScreen">
          <img src="Images/Lesson01/Joinlink.gif"><br />
          </div>
          <p>
              Click on the picture above to go to the Scratch website. When you see the menu bar on the top of the page, you then need to click on &#39;join&#39;. You will go through the &#39;create an account&#39; 
          process. Also, you will need to get an account on the Scratch web site so you can store your projects. You will see the thee screens below.
          </p>
          <p>
          After you have got your account you will see the &#39;create&#39; button on the menu bar. This is where you can code online, and you can get an offline version too. We will not cover this
          right now, but if you want us to, we will put a guide together. <br /><br />
          You will find lots of cool stuff on this site, so have a good look around! If you have seen enough here you can just crack on with our friends at MIT Scratch. So now, please enjoy,
          </p>
          <p>
          We hope we helped. Please keep looking at our site. &#12483;<br /><br /> 
          </p>
          <div class="largeScreen">
              <img src="Images/Lesson01/ScatchAccount.gif">
          </div>
          <div class="smallScreen">
              <img class="imgSmallScreen" src="Images/Lesson01/ScatchAccount-Small.gif">
          </div>
              <br />
          <h3>So lets have a look around &#12483;</h3>
          <br />
          <h2>The desktop version</h2>
          <br />
          <img class="imgSmallScreen" src='Images/Standard/costume.gif' >
          <p>
          The section on the left is full of &#39;command&#39; blocks, which you will need to join together. This 
          will make your programs under the &#39;script&#39; tag. You just drag a block with your mouse. Please see the picture below.<br />
          </p>
          <br />
          <img src="Images/Lesson01/JoinBlocks.gif">
          <p>
          You will see a section in the middle. The &#39;script&#39; tag is selected on the picture above the scratch programming environment. This is where the code blocks will go.
          We can see the drawing of the cat in the &#39;costume&#39; tag. The costumes are numbered 1 and 2, this is important, but we will cover that later. Click on &#39;edit&#39; and play 
          about with it. You can&#39;t do any harm and its fun!
          </p>
           <h2>Working with the stage</h2>
          <p> 
          The next section is the &#39;stage&#39;. As the name would suggest, it is where all the action in you program happens. We start with the stage and the sprite. We call these &#39;objects&#39;, and
           you will see us create all sorts of different objects as we develop our programs, learning how to code as we progress. 
          </p>
          
          <div class="largeScreen"> 
          <img src='Images/Lesson01/ScratchPic.gif' >
          </div>  
          <div class="smallScreen"> 
          <img class="imgSmallScreen" src='Images/Lesson01/ScratchPic-Small.gif' >
          </div>  
            <p>
          Take a look at the three icons. When you click the first icon the stage is very small, but when you click the second icon, the stage is larger, while the third icon takes over the whole screen. The icon on the black background will return you to the Scratch environment.
              </p>
          <img src='Images/lesson01/greenflag.gif' >
          <br /><br />
          <h2>The Online version</h2>
          <div class="largeScreen">
          <img src='Images/Lesson01/OnlineStage.gif' />
          </div>
        
          <div class="smallScreen">
          <img class="imgSmallScreen" src='Images/Lesson01/OnlineStage-Small.gif' />
          </div>
          <p>
          The online version is almost the same as the desktop version, there are only some slight differences. All the examples we will give you will be in the desktop version. A rule we follow is:-
          </p>
          <p>
          &quot;You can load a project in the desktop version on to the online version, but not the other way around.&quot;
          </p>
          
          <h2>Getting to projects on this site working.</h2>
          <img src='Images/Lesson01/ProjectDownload.gif' >
          <p>
          If you are working with the online version, click on the Scratch Download button - you will see this button all over this site - then click on the 'Upload from your Computer' menu from 'file'.
          </p>
          
          <div class="smallScreen">
          <p>
          If you are viewing this on a mobile device, like a mobile phone or a tablet. you may need to be on a PC or Mac to use Scratch.
          </p>
          </div>
 
          <h2>The 1st program Sequence.</h2>
          <div class="largeScreen">
          <img src='Images/Lesson01/sequence.jpg' >
          </div>
          <div class="smallScreen">
          <img class="imgSmallScreen" src='Images/Lesson01/sequence-Small.jpg' >
          </div>
          <div class="largeScreen">          
          <h3>Download the Sequence Project here.</h3>
          <p>
           This is the first time you have seen our download button. Click on this to download our scratch project when you see it.<br />
          </p>
          <a id='sequence' class='ProjectDownLoad' href="../../../no-script.htm"><img src="Images/Standard/ProjectDownLoad.gif"></a><br />  
          </div>
          This is the first lesson. We have downloaded Scratch and started to find our way about.
          </div>
          <p>
          Let&#39;s take it easy for now. So take a look
          at the sequences, download the sequence project and have a look at it by running it.
          </p>
          <h4>Click the GREEN FLAG.</h4>
          <p>
          What we have done is to move the cat around the screen and track its movement. Can you look at the numbers in the blue blocks? They tell us where the cat is on the screen. This is talking to the computer in code! We do more than just talk we tell it what to do. As you learn more, you will be able
          to tell it to do a lot of things. We think it is better to play with this, in order to work out what the numbers means.
          </p> 
          <h3>If you think you need more explaination click here.</h3>
          <div class="largeScreen">  
          <img id='showstageexplained' class='btnShowNext' src="Images/Standard/extrahelp.gif">
          </div>
          <div class="smallScreen">  
          <img id='showstageexplained' class='btnShowNext' src="Images/Standard/extrahelp-small.gif">
          </div>
          <div id="stageexplained" class="clear">
           <h3>Hi I am Alan and I am Ada</h3>
           <br /><br />
           <p>
           I am named after Ada Lovelace, who wrote the first ever computer language. Ada predicted that such a machine might be used to compose complex music, to produce graphics and would be used for both 
           practical and scientific use, she was correct.
           </p>
           <img src="Images/Standard/ada.gif">
           <p> 
           Alan is named after Alan Turin, who is known as one of the most important people in inventing the modern computer.
           </p>
           <img src="Images/Standard/alan.gif">
           <p> We are here to help you, when you may need a 
           bit more help. We keep in the background, so if you just get it keep going. You will see us all over this site. &#12483;
          </p>
          <Z2C:GotoLogin ID="Login" runat="server" /> 
          <Z2C:Lesson01a ID="Lesson01a" runat="server" />
          </div>
          <br />
          <h3>Sequences</h3>
          <p>
          Sequences are blocks of code followed by the next block, until we run out of blocks. In the sequence demonstration we have the cat moving around,
          so click on the green flag and see what happens. Get used to it by changing the block around, or even put new ones on to see what happens.
          The numbers can be changed, Don&#39;t forget, the more you play with it, the more you will understand. The program draws part of the union jack shape. Can you finish the shape by adding more 
          blocks?</p>
          <h2>
          <br /><br />
          <img  id='showQuizSequence' class='btnShowNext clear' src='Images/Standard/Quiz.gif' >
          
      </div>
      
     
      <div id='QuizSequence' class='clear'>
       <Z2C:GotoLogin ID="GotoLogin1" runat="server" /> 
       <Z2C:Lesson01b id="Lesson01b" runat="server" /> 
     

  </div>         

      <div  id='Project' >
       <h2>Well done</h2>
       <br />
          <p>
         OK that was a good start. We hope you enjoyed the introduction.        
       </p>
      </div>
  </html>