<top-bar></top-bar>
<navi-bar></navi-bar>

<div>
    <div class="container" >
      <div class="row">
        <div class="col">
        </div>
        <div class="col-10">

<div>
    <h1>Lesson 4 IF</h1>
</div>
<div>
    <h2>IF and IF ELSE and the Walk Around Project</h2>
</div>
<div>
    <h3>What are the IF and IF ELSE blocks?</h3>
</div>
<div>
    <img>
</div>
<div>
    <p>
        You will
    </p>
    <ul>
        <li>1.</li>
    </ul>
    <p>
        There is lots more
    </p>
    <p>
      An IF test  
    </p>
</div>
<div>
    <h3>The Demo</h3>
</div>

<div clas="col">
</div>
</div>
   <div>
   </div>
</div>