<top-bar></top-bar>
<navi-bar></navi-bar>

<div>
 <div class="container" >
   <div class="row">
    <div class="col">
    </div>
    <div class="col-10">
     <div>
      <h1>Lesson 4 IF</h1>
     </div>
     <div>
      <h2>IF and IF ELSE and the Walk Around Project</h2>
     </div>
     <div>
      <h3>What are the IF and IF ELSE blocks?</h3>
     </div>
     <div>
      <img src="/src/app/shared/images/lesson4/IFBlocks.gif">
     </div>
     <div>
      <p>
        You will have learned the most basic part of coding when you have completed this lesson. 
        The reason we say this is because the most basic needs of a program are:-
      </p>
      <ul>
       <li>1: Putting sequences together.</li>
       <li>2: Working with variables.</li>
       <li>3: Loop though code.</li>
       <li>4: Make decisions in IF statements.</li>
      </ul>
      <p>
        There is lots more  but you are starting to get to know Scratch by now. 
        You should be able to think of a small program you can make for yourself. 
        This is a big step along the way a proficient coder. So very well done. ッ
      </p>
      <p>
        An IF test  will always have a result of true or false. Like 1 = 1 will be true 
        and 1 = 2 will be false. This will sound very strange, because 1 = 1 of course it does - 
        but we are just making a point. In fact, when we are testing code we will use 1 = 1 when 
        we need to guarantee a true response and similarly 1 = 2 when we need a false response. 
        We will have a lesson on how to get your code working well later. We call finding mistakes 
        in your code 'debugging'.
      </p>
     </div>
     <div>
      <h3>The Demo</h3>
     </div>
     <div>
      <h3>Download IF Explained Project</h3>
     </div>
     <div>
      <img src="/src/app/shared/images/standard/ProjectDownload.gif">
     </div>
     <div>
      <h3>3 Demos of the IF statment</h3>   
      <p>
            We have 3 demos here, which will be getting a bit more useful as we go though them.
      </p> 
    </div>
     <div>
      <div>
       <h3>A:</h3>
      </div>
      <div>
        <img src="/src/app/shared/images/lesson4/IFELSEdemocodeA.gif">
      </div>
      <div>
       <p>
            The first demo is a IF statement on its own (we have highlighted it in red with the test). 
            The program is waiting for you to type something.   
       </p>
       <p>
            The test is for the word 'left'. The left hand will only raise if you type left.
       </p>
       <p>
            Any thing else is not the word 'left'.
       </p>
       <p>
            So if our answer = 'left' the test is true and the code inside the bay will be 
            made to happen. We call that 'executed'.
       </p>
       <p>
            Can you see how, by looking at the code, the left hand will raise and then go down?           
       </p>
       <p>
            The answer could = something else like 'right', the answer is not = to 'left'. 
            The test is 'false'. 
       </p>
       <p>
            None of the code in the bay is executed and the code move on. 
            In this case it will just finish.
       </p>      
      </div>
     </div>

<div>
    <div>
        <h3>B:</h3>
    </div>
    <div>
     <img src="/src//app/shared/images/lesson4/IFELSEdemocodeB.gif">
    </div>
    <div>
     <p>
      We will now do a test for is 'left' but this time it is in a IF ELSE test. It means we 
      can do something else if the test is 'false'. At first glance you may think it will raise 
      the left arm if word = 'left'. and then rise the right arm if you enter the word 'right'. 
      This is correct, but with a maybe unexpected outcome, because if we enter anything else 
      like 'both'. It will raise the right arm. Test it for yourself.
     </p>
    </div>
</div>

<div>
    <div>
        <h3>C:</h3>
    </div>
    <div>
      
    </div>
</div>




<div clas="col">
</div>
</div>
   <div>
   </div>
</div>