<top-bar></top-bar>
<navi-bar></navi-bar>
<div>
  <div class="container" >
    <div class="row">
      <div class="col">

      </div>
      <div class="col-10">
        <div>
          <h2>Your coding future is here.</h2>
        </div> 
        <div>
          <p>
            When you started to think about how to program computers, you may be thinking this all is very difficult.
            Where do I start? How can I get any where? Can I do anything cool? Well that is where we come in. 
            We will start you of in Scratch, then start to move you on to stuff like HTML CSS and JQuery. 
            You will get to work with databases, and applications that will let you develop some professional looking 
            projects. We are coders and have been working in the industry for many years. We are asked how to develop 
            all sorts of applications, so let's start   teaching you how to do it. 
          </p>
        </div>
        <div class="largeScreen">
          <img src="/src/app/shared/images/standard/front.gif"> 
        </div>
        <div>
          <h2>Why Zero2coding?</h2>
        </div>  
        <div>
          <p>
            We are just here to help you, it is not possible to help others without resources, so we do charge for 
            most of the help we give you. What is important to us, is to keep the charges as low as we can, 
            without compromising on quality. Coding is a driving force for the future, and if you have the patience 
            required, you can be a part of that future. We will help you as much as we can, with our mentoring 
            service you really will come on. How cool would it be, to be able to say we helped the next founder 
            of a Facebook, Google or Apple.                    
          </p>
        </div>
        <div>
          <img src="/src//app/shared/images/standard/DotNetKids.gif">
        </div>
        <div>
          <p>
            We only started this project to help you. Well that's not strictly true, because we need the next generation
            of coders to take over from us, when we want to hand over the baton. You can take your new found skill and put 
            it good use, the world needs coders! Yes that's true,  you can be one of them coders and get paid good money to! 
            Always look to learn from every possible source, we are only one of them sources, 
            but a valuable part of your development. 
          </p>
        </div>
        <div>
          <img src="/src/app/shared/images/standard/Profesionals.gif">
        </div>
        <div>
          <p>
            Your development as a coder will be enhanced by the support we can give you. We will be there for you as you develop 
            your applications. We will arrange help with your progress, giving you advise. If it is appropriate we may help with 
            handling services, you may need for your projects. We will not be coding and managing your application, you will be, 
            but the helping hand we can give you will be a real advantage for you. We will be offering face to face sessions, 
            get in touch with us for more details. 
          </p>
        </div>
        <div>
          <h2>The project</h2>
        <div>
          <img class="imgSmallScreen" src="/src/app/shared/images/standard/SchoolDay.gif" />
        
        </div>
        <div>
          <p>
            We will start to build this school project, by the time we have shown you what you will need to know, you will becoming an expert 
            in coding with Scratch. That's up to lesson 18 with us. We will have a project 
            where you play a game around the theme of the school day. That at this time is under development, we will have the 18 lesson soon.
             </p>
          </div>
          <div> 
             <h2>Schools Support</h2>
          </div>
          <div>
            <p>
             We will want offering support to schools, that will be licensed. The support will consist of a teacher contact and we will attending classes, this will be a professional with a good standard of knowledge in the 
             coding platform. We will work with the teachers with development plans for each child, taking into consideration the network available to that individual school. We are and will continue to develop software, 
             that will backup the work with the children  This service will need to be subject to regulation and as such, we are first looking for interest in this service, working with the appropriate body to ensure the 
             service is up to standard.
            </p>
          </div>
          <div>
            <h3>Lesson 1 to 6</h3>
          </div>
          <div>
            <p>
              We start with Scratch and get up to a basic level. we offer this free to every one. We have extra help and all we ask in return is for you to register with us and become one of our members. Please continue with 
              the lessons, and when you are ready register with us access the extra content. 
            </p>
          </div>  
          <div class="largeScreen">
            <!--<img src='/src/app/shared/images/standard/l'>-->
          </div>          
          <div class="col">
          </div>
        </div>
      </div>
    </div>
    <div>
      <footer-bar>
      </footer-bar>
    </div>
  </div>
  