<top-bar></top-bar>
<div>
 <navi-bar></navi-bar>
</div>
<div>
 <div class="container" >
  <div class="row">
   <div class="col">
   </div>
   <div class="col-10">
   <div>
    <h2>Lesson 6 Operators</h2>
   </div>
   <div>
    <h2>Operators, Add the traffic lights to the School Day project.</h2>
   </div>
   <div>
    <p>
     When we talk about operators, we mean anything that add, subtract, 
     multiply or divides. Then anything that tests to see if this value is 
     equals to, which one is bigger than the other or smaller than the other. 
     We have other mathematical operators, also we can join strings together and 
     find the length of a string.
    </p>
    <p>
     Probably the most important operators are the 'OR' 'AND' 'NOT' operators. 
     The picture can help you understand this. We will use these operators in things like, 
     an IF tests or in a FOR loop. In fact we have seen the green operators in most of the 
     demos in this course.
    </p>
   </div>
   <div>
    <h3>AND , OR and NOT operators.</h3>
   </div>
   <div>
    <img src="/src/app/shared/images/lesson6//AndOrNot.gif">
   </div>
   <div>
    <h3>Comparing our Variables.</h3>
   </div>
   <div>
    <p>
     We have operators to compare our variables, along with other things. The easiest one to 
     understand is '=', that used in IF and conditional FOR loops. Numbers are the easiest to 
     understand when 3 = 3 this obvious, we can also easily understand 2 < 3 is true and 4 > 5 
     is not true. Even after years of coding, we will at time have to think what is happening here. 
     As always take your time and understand what is going on.
    </p>
    <p>
        So strings are a bit more difficult. We need to understand that every letter is given a 
        number to represent it in the computers memory, Ada and Alan have a little note on the ASSCI 
        code, but the numbers 0 to 9 are held in the computers memory as 48 to 57 and the letters 
        A to Z are held in the memory as 65 to 90. The computer will compare two strings from left 
        to right, looking at each character (That is a letter or number) and if the result is the 
        same at the end of the comparison it will be equal. Please look at the picture below.
    </p>
    <p>
        A tip with Scratch if you mouse over and click the operator sign like = < > in the green 
        blocks it will tell you if the clause is true or false.
    </p>
</div>
<div>
    <img src="/src/app/shared/images/lesson6/Compare.gif">
</div>
<div>
    <h3>ASSCI explained click here.</h3>
</div>
<div>
    <div>
        <img src="/src/app/shared/images/standard/extrahelp.gif">
    </div>
</div>
<div>
    <h3>The Calculator Demo.</h3>
</div>
<div>
    <p>
        We have put together a calculator in Scratch for you. Its a good way to demonstrate 
        operators. We are using broadcasts and for the first time we have introduced lists. 
        We will have much more on the subject of lists, in the next set of lessons. Alan and 
        Ada will be explaining, how we have put this project together for our members. So its 
        time to say good bye to our non members. We hope we have helped and we would be 
        delighted to welcome you as a new member. If you do join us please be sure you review 
        the first 6 lesson again, there is plenty in the members area you have yet to see.
    </p>
</div>
    <div>
     <img src="/src/app/shared/images/lesson6/Calculator.gif">
    </div>
    <div>
     <div>
      <img src="/src/app/shared/images/standard/extrahelp.gif">
     </div>
    </div>
   </div>
   <div class="col">
   </div>
  </div>
 </div>
</div>