<navi-bar></navi-bar>
<div
fxFlex
class="fxClass-all"
ngClass.xs="fxClass-xs"
[ngClass.sm]="{'fxClass-sm': hasStyle}"
[ngClass.md]="{'fxClass-md': hasStyle, 'fxClass-md2': hasStyle}"
[ngClass.lg]="['fxClass-lg', 'fxClass-lg2']">
</div>
<div>
    <h2>Lesson 6 Operators</h2>
</div>
<div>
    <h2>Operators, Add the traffic lights to the School Day project.</h2>
</div>
<div>
    <p>
            When we talk about operators, we mean anything that add, subtract, 
            multiply or divides. Then anything that tests to see if this value is 
            equals to, which one is bigger than the other or smaller than the other. 
            We have other mathematical operators, also we can join strings together and 
            find the length of a string.
    </p>
    <p>
            Probably the most important operators are the 'OR' 'AND' 'NOT' operators. 
            The picture can help you understand this. We will use these operators in things like, 
            an IF tests or in a FOR loop. In fact we have seen the green operators in most of the 
            demos in this course.
    </p>
</div>
<div>
    <h3>AND , OR and NOT operators.</h3>
</div>
<div>
    <img src="/src/app/shared/images/lesson6//AndOrNot.gif">
</div>    