<Page Title="Lesson 2 Learn how to use Variables" >
<html>
    <div style="background-color: #ffffff;">
        <div class="pagebanner">
            <h1 id="pagebannertitle" runat="server">Lesson 2 Variable</h1>
        </div>


    <div class="section ">
     <h1 >Variables and Start the Walk Around Project</h1>
      <p>
       <h2>What are Variables?</h2>  
         <p>
          A variable is a place in the computers memory where we can store information. This is only for as long as the program is running.     
          You should try and think of different names for your variable that give you a good idea what it is for.
          </p>
          <p>
          If you are going to keep a count of then goals scored call your variable &#39;GoalsScored&#39;.<br />
          </p>
          <h3>1st Demo</h3>  
          <div class="largeScreen">
          <img src="Images/Lesson02/firstdemo.gif">
          </div>
          <div class="smallScreen">
          <img class="imgSmallScreen" src="Images/Lesson02/firstdemo-Small.gif">
          </div>
              <br />
          <p>
          We need variables to hold information in the programs so we can do things. Lets think of the sentence.
          </p>
          <h4>'The quick brown fox jumps over the lazy dog.'</h4>
          <p>
           This is a sentence that contains all the letters of the alphabet. Lets write a program to display the sentence in the cats speech bubble line by line. 
           We are going to hold the sentence line by line in our &#39;WhatwasSaid&#39; variable, shown above in Orange. The next block in purple will display the contents of the variable in 
           the cat&#39;s speech bubble. We will put some wait blocks in to let you see the information changing in the variable.
          </p>
          
          <h3>I need more help</h3>  
          <br />
          <div class="largeScreen">
          <img id='showvariable1explained' class='btnShowNext' src="Images/Standard/extrahelp.gif">
          </div>
          <div class="smallScreen">
          <img id='showvariable1explained' class='btnShowNext' src="Images/Standard/extrahelp-Small.gif">
          </div>
              <div id='variable1explained'  class='clear' >

           <br /> 
            <h3>In the whatwasSaid variable</h3>
           <div class="largeScreen">
            <img src='Images/Lesson02/variable1.gif'>  
           </div>
           <div class="smallScreen">
            <img class="imgSmallScreen" src='Images/Lesson02/variable1-Small.gif'>  
           </div>

           <p>
           OK take a look at the picture above. If you have places to put things they are like variables. So lets say we had a card with 'The quick brown fox' written on it. If we put that in our holder
           it would be there ready for us to use it. By getting another card with the words 'Jumped over' written on it, if we then take out the 'The quick brown fox' and throw it away and replace it  with 'jumped over' the variable has 
           forgotten what was there before and has the new word to remember. We call sets for letters strings.        
          </p>
          <p>
          That is one way to explain a string and it is not the only way to explain it. You will realise over this course that understanding what is going on can take a while, if it takes time don't be disheartened this is normal.
          So look a what is going on again. Look at the 
          picture above, when the text &#39;The quick brown fox&#39; is entered into the variable, we see the letters go in the numbered boxes. 
          &#39;T&#39; = 1 &#39;h&#39; = 2 &#39;e&#39;= 3 ect. This is stored in the computers memory ready to be used later. When we want to put &#39;jumped over the lazy dog&#39; 
          in the exact place the letters are replaced. So we know where the letters are, we call all these numbered boxes a name in the case of this example &#39;WhatwasSaid&#39;. 
          We can have as many of these boxes as we want in out programs and call them variables.
          </p>
          </div>
          <br /><br />
          <h3>second demo</h3>
          <br />
          <div class="largeScreen">
          <img src='Images/Lesson02/seconddemo.gif' >
          </div>
          <div class="smallScreen">
            <img class="imgSmallScreen" src='Images/Lesson02/seconddemo-Small.gif' >
          </div>
          <p>
          There are 2 very basic ways to store information in our variables letters and numbers. We have a word for information we store in a variable and the word is &#39;Data&#39;. 
          Data stored as letters has a name &#39;String&#39;. Like a piece of string that you can join another piece of string to it by tying a knot. The second data type we are going to look at is numbers. 
          The name we give it is numeric. There is other data types and we will look at them later.
          </p>
          
           <img class="imgSmallScreen" src='Images/Lesson02/thirddemo.gif' >
          <br />
          <h3>I need more help</h3>  
          <div class="largeScreen">
          <img id='showvariable2explained' class='btnShowNext' src="Images/Standard/extrahelp.gif">
          </div>
          <div class="smallScreen">
          <img id='showvariable2explained' class='btnShowNext' src="Images/Standard/extrahelp-Small.gif">
          </div>      
          <div id='variable2explained' class='clear'>
            <br /><br />
              <Z2C:GotoLogin ID="GotoLogin1" runat="server" />
              <Z2C:Lesson02a id="Lesson02a" runat="server" />
            <br /><br />
          </div>
                
         
          <div class="largeScreen">
           <h2>Variable Demo</h2>
          <a id='variables'  class='ProjectDownLoad' href="/no-script.htm"><img src="Images/Standard/ProjectDownLoad.gif"></a><br />   
          </div>
          <br />
      </div>
      
         <div  id='Project'>
       
       <h1>The Walk Around 1 Project</h1>  
       <div class="largeScreen">
       <img  src='Images/Lesson02/WalkAround1.jpg' />   
       </div> 
       <div class="smallScreen">
         <img class="imgSmallScreen" src='Images/Lesson02/WalkAround1-Small.jpg' />   
       </div>
         <br />
         <h2>Download the Walkaroud 1 Project</h2> 
         <Z2C:GotoLogin ID="GotoLogin2" runat="server" />
         <Z2C:Lesson02proDL id="Lesson02proDL" runat="server" />
         
         <p>
       Can you make the cool kid walk to the end of the gray path and turn to point up on the path. The code blocks you need are in the sprite script. The variable &#39;SpeedY&#39; has not been created
       and will be used later. Can you do that? Then put the code blocks together in a sequence. A lot of the code is new to you so just join it together in a sequence.
        </p>
          <div class="largeScreen">
          <img id='showWalkAround' class='btnShowNext' src="Images/Standard/extrahelp.gif">
          </div>
          <div class="smallScreen">
          <img class="imgSmallScreen" id='showWalkAround' class='btnShowNext' src="Images/Standard/extrahelp-Small.gif">
          </div>     
          <div id='WalkAround' class='clear'>
            <br /><br />
            <Z2C:GotoLogin ID="GotoLogin3" runat="server" />   
            <Z2C:Lesson02b id="Lesson02b" runat="server" />
              <br /><br />
          </div>
                   
             <br />
                     
             <br />
             <br />

         
       </div>
       
       </div>
             <br /><br />
          <br />
          <img  id='showQuizVariable' class='btnShowNext clear' src='Images/Standard/Quiz.gif' >  
     
      <div id='QuizVariable' class='clear'>
           <Z2C:GotoLogin ID="GotoLogin4" runat="server" />
          <Z2C:Lesson02c id="Lesson02c" runat="server" />
    </div>         
 </div>
 
</html>